@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $bodyColor;
}

// -----------------------------------------------------------

.nav {
    background-color: $navColor;
    height: 14vh;
    width: 100%;
    position: fixed;
}

.main {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 14vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 70%;
    padding: 4px 20px;
    border: none;
    background-color: $navColor;
    border-radius: 6px;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    display: inline-block;
}

.button-width {
    width: 60%;
}

.initial {
    padding-right: 10%;
    position: absolute;
    top: 50%;
    left: 8%;
    transition: all 0.4s ease-in-out;

    h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
}

// -----------------------------------------------------------

.inactive { transform: translateX(0 , 50%)!important; opacity: 0; pointer-events: none; }

.active { transform: translate(0, -40%)!important; }

.go { transform: translate(0, 50%)!important; }

.question {
    max-width: 1000px;
    width: 100%;
    padding-right: 10%;
    position: absolute;
    top: 50%;
    left: 10%;
    transition: all 0.4s ease-in-out;

    h2 {
        margin-bottom: 60px;
        font-size: 40px;
    }
    
    .option {
        margin-bottom: 10px;
        display: inline-block;
    }

    .option-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 60px;
        width: 100%;
    }

    .non-wanted {
        transition: all 0.05s ease-in;
    }

    .msg {
        opacity: 0;
        transform: translateY(100px);
        margin-top: 10px;
        color: $msg;
        font-weight: 800;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }

}


// -----------------------------------------------------------

.message {
    padding-right: 10%;
    position: absolute;
    top: 50%;
    left: 10%;
    transition: all 0.5s ease-in-out;

    h2 {
        font-size: 48px;
        line-height: 100px;
    }

}

// -----------------------------------------------------------



.non-wanted-hovered { transform: translate(400px, 300px); }

.clicked { background-color: $pressedColor; }

.show-msg { opacity: 1!important; transform: translateY(0)!important; }


// -----------------------------------------------------------

@media (max-width: 1124px) {

    .initial {
        text-align: start;
    
        h1 {
            margin-bottom: 40px;
        }
    }

    .nav {
        display: none;
    }

    .question {
        left: 0;
        padding: 4%;
        text-align: start;

        .option-wrapper {
            max-width: none;
            flex-direction: column;
            justify-content: start;
            margin-bottom: 40px;
    
            .option {
                margin-bottom: 10px;
                display: inline-block;
                width: 60%;
            }
    
        }

    }

    button {
        width: 60%;
    }

    .non-wanted-hovered { transform: translate(100px, 300px); }

}

// -----------------------------------------------------------

@media (max-width: 768px) {
    
    .question {
        
        h2 {
            margin-bottom: 2em;
            font-size: 30px;
        }
        
        .option-wrapper {
            
            .option {
                width: 100%;
            }
    
        }

    }

    button {
        width: 100%;
        font-size: 20px;
    }

    .message {
        text-align: start;
        width: 90%;

        h2 {
            font-size: 30px;
            line-height: 44px;
        }
    }

    .button-width {
        width: 100%;
    }
    
    .non-wanted-hovered { transform: translate(0, 300px); }
    
}